
@{
    ViewData["Title"] = "StudentOld";
}

<h2>StudentOld</h2>
<form method="post" action="StudentOld">
    <input type="text" name="Name" value="Name" />
    <input type="text" name="Course" value="Course" />
    <button type="submit">Submit</button>
</form>

